/* Mobile petits écrans */
@media (max-width: 480px) {
  .card-link-button{
    margin-top: 200px;
  }

  .title-icons{
  font-size: 1.5rem;
}
 .services-title {
      
      font-size: 1.5rem;
      
    }
    .gallery-title{
      font-size: 1.5rem;
    }
}

/* Mobile général */
@media (max-width: 768px) {}

/* Tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
   .card-link-button{
    margin-top: 300px;
  }
  .cards-container{
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
  }
}

/* Desktop standard */
@media (min-width: 1025px) and (max-width: 1440px) {
     .card-link-button{
    margin-top: 300px;
  }
  .cards-container{
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
  }
}

/* Grand écran */
@media (min-width: 1441px) {
  
}


